input[type="text"] {
  height: 75px;
  width: 248px;
  background-color: #10111600;
  border: none;
  color: white;
  text-align: right;
  font-size: 25px;
  font-weight: 500;
  letter-spacing: 1px;
}
